* {
    transition: all 0.5s;
}

body{
    text-align: center;
}

.contenedor{    
    width: 98vw;
    height: 97vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.encabezado{
    min-width: 300px;
    width: 70%;
    padding: 10px;
}

.btn{
    margin: 2px;
}